{% extends 'basic.html' %}
{% block 'title' %} Compras {% endblock %}

{% block content %}

<div class='container'>

    {% for compra in compras %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>{{ compra.cliente.nome }}</h3>
                </div>
                <div class='panel-body'>
                        <p><strong>Veiculo:</strong> {{ compra.carro}}</p>
                        <p><strong>Valor:</strong> {{ compra.preco_formatado }}</p>
                        <p><strong>Data:</strong> {{ compra.data_compra }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

