{% extends 'basic.html' %}
{% load static %}

{% block title %} Clientes {% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'criar_cliente' %}" class="btn btn-primary mb-3"><i class="fas fa-plus"></i> Criar Cliente</a>
    <h1 class="mb-4">Clientes</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {% for cliente in clientes %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">
                        <i class="fas fa-user"></i> {{ cliente.nome }} {{ cliente.sobrenome }}
                    </h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-id-card"></i> <strong>CPF:</strong> {{ cliente.cpf }}</li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> <strong>Telefone:</strong> {{ cliente.telefone }}</li>
                        <li class="list-group-item"><i class="fas fa-envelope"></i> <strong>Email:</strong> {{ cliente.email }}</li>
                        <li class="list-group-item"><i class="fas fa-calendar-alt"></i> <strong>Data de Nascimento:</strong> {{ cliente.data_nascimento }}</li>
                        <li class="list-group-item"><i class="fas fa-star"></i> <strong>Nível:</strong> {{ cliente.nivel_bruto }}</li>
                    </ul>
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-sm btn-outline-primary me-2"><i class="fas fa-edit"></i> Editar</a>
                    <a href="{% url 'deletar_cliente' cliente.id %}" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i> Deletar</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="col">Nenhum cliente encontrado.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
